<% content_for :page_title do %>Meetings<% end %>

<p>Below is the list of all meetings in the system:</p>
<ul>
  <% @meetings.each do |meeting| %>
    <li><%= link_to meeting.title, edit_meeting_path(meeting) %></li>
  <% end %>
</ul>

<p><%= link_to "Create Meeting", new_meeting_path %></p>
