body
{
  font-family: Arial,Helvetica,sans-serif;
  text-align: center;
  width: 800px;
}

label
{
  float: left;  
  width: 150px;
  font-weight: bold;
  text-align: left;
}

.form_fields
{
  text-align: left;
}