body
{
  font-family: Arial,Helvetica,sans-serif;  
  width: 800px;
  font-size: 0.9em;
}

label
{
  float: left;  
  width: 150px;
  font-weight: bold;
  text-align: left;
}

.form_fields
{
  text-align: left;
}

h1
{
  color: #000066;
  margin-bottom: -5px;
}

h2 
{
  color: #003399;
}

.meeting
{
  float: left;
  width: 500px;
}

.sidebar
{
  float: left;
  background-color: #FFFF66;
  padding: 1em;
}
