body
{
  font-family: Arial,Helvetica,sans-serif;  
  font-size: 0.9em;
  background-image: url("../images/background.png");
  background-position: left-top;
  background-repeat: repeat-x;
}

label
{
  float: left;  
  width: 150px;
  font-weight: bold;
  text-align: left;
}

.form_fields
{
  text-align: left;
}

h1
{
  color: #000066;
  margin-bottom: -5px;
}

h2 
{
  color: #003399;
}

.container
{
  width: 1000px;
  margin: auto;
}

.center
{
  float: left;
  width: 830px;
  border: 1px solid #CCC;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #FFFFCC;
}

.sidebar
{
  float: right;
  background-color: #FFFFCC;
  padding: 1em;
}
